<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" defer></script>
<div class="photo gallery grid" style="display: flex; flex-wrap: wrap;">

    {{- $margin := 5 -}}
    {{- $thumbnailWidth := 150 -}}
    {{- $directory := .Get 0 -}}
    {{- $resources := .Page.Resources.ByType "image" -}}
    {{- range $resources -}}
    {{- with . -}}
    {{ $imageResource := . }}
    {{ $originalWidth := $imageResource.Width }}
    {{ $originalHeight := $imageResource.Height }}
    {{ $thumbnail := ($imageResource.Resize (printf "%dx" $thumbnailWidth)) }}
    {{ $thumbnailHeight := (div (mul $thumbnailWidth $originalHeight) $originalWidth) }}
    
    {{ $formats := (slice "webp" "jpeg") }}
    {{ $multipliers := (slice 1 2 3) }}
    
    <a href="{{ $imageResource.RelPermalink }}" style="display: block; margin:{{ $margin }}px; width:{{ $thumbnailWidth }}px; height:{{ $thumbnailHeight }}px; overflow:hidden;">
        <picture>
            {{- range $format := $formats -}}
                {{ $srcsetParts := slice }}
                {{- range $mult := $multipliers -}}
                    {{- $resized := ($imageResource.Resize (printf "%dx %s" (mul $thumbnailWidth $mult) $format)) -}}
                    {{- $srcsetParts = $srcsetParts | append (print $resized.RelPermalink " " $mult "x") -}}
                {{- end -}}
                {{ $srcset := delimit $srcsetParts ", " }}
                <source type="image/{{ $format }}" srcset="{{ $srcset }}">
            {{- end -}}
            <img src="{{ $thumbnail.RelPermalink }}">
        </picture>
    </a>
    {{ end }}
    {{- end -}}

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        baguetteBox.run('.photo');
        new Masonry('.grid', {
            columnWidth: {{ add $thumbnailWidth (mul $margin 2) }},
        });
    });
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
